 * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.screen {
    display: flex;
    height: 100vh;
}

.left-size {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-size img {
    max-width: 700px;
} 

.right-size {
    background-color: #DDD;
    width: 500px;
    padding: 50px;
}

.right-size label {
    display: block;
    margin-bottom: 15px;
}

.right-size input {
    border: 1px solid #999;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    outline: 0;
}

.error {
    font-size: 13px;
    background-color: #f34e4e;
    border-radius: 5px;
    color: #FFF;
    padding: 4px;
}

